{
    "semi": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "trailingComma": "none",
    "endOfLine": "auto",
    "eslintIntegration": true,
    "stylelintIntegration": true,
    "bracketSpacing":true
}